.asside {
  width: var(--aside-width);
  min-width: var(--aside-width);
  height: 100%;
}

.sidebar_link {
  display: block;
  color: #566676;
  text-decoration: none;
  transition: 0.2s ease;
  padding: 18px 10.5px;
  font-size: 21px;
  border-left: 4.5px solid transparent;
}
.sidebar_link:hover,
.sidebar_link:active,
.sidebar_link:focus {
  color: #36404a;
  background: #f8f9fa;
}

.sidebar_active {
  background: #f2f2f2 !important;
  border-color: #5d9cec !important;
  color: #5d9cec !important;
}

.sidebar_link i {
  margin-right: 7.5px;
}