.tab_info {
  display: flex;
  column-gap: 30px;
  align-items: center;
  margin-bottom: 45px;
}

.tab_info input[type="search"] {
  box-sizing: border-box;
}
.tab_info > div {
  width: 150px;
}
.group_name {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 6px;
  background: #fff;
  width: fit-content;
}

.table {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--table-gap);
  height: 100%;
  overflow: hidden;
}
.table::-webkit-scrollbar {
  display: none;
}
.table_header_wrap {
  display: flex;
  gap: var(--table-gap);;
}
.table_header_selects {
  width: var(--table-students-width);
  min-width: var(--table-students-width);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.table_header_info {
  width: calc(100% - var(--table-students-width) - var(--table-gap));
  display: flex;
  flex-direction: column;
  gap: var(--table-gap);;
}
.table_header {
  /* margin-left: auto; */
  width: 100%;
  text-align: center;
  padding: 6px;
  font-size: 21px;
  background: var(--table-header-winter);
  color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  text-transform: capitalize;
}
.table_dates {
  /* margin-left: auto; */
  width: 100%;
  text-align: center;
  font-size: 21px;
}
.table_body {
  display: flex;
  flex-direction: column;
  gap: var(--table-gap);
  overflow-y: scroll;
  overflow-x: hidden;
}
.table_body::-webkit-scrollbar {
  display: none;
}
.table_row {
  display: flex;
  gap: var(--table-gap);
  font-weight: bold;
  
}
.dates {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--table-gap);
  overflow: auto;
}
.dates::-webkit-scrollbar {
  display: none;
}
.student_name {
  width: var(--table-students-width);
  min-width: var(--table-students-width);
  height: var(--table-row-height);
  line-height: var(--table-row-height);
  background: #fff;
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
  padding: 0 9px;
  font-size: 21px;
  border-left: 7.5px solid var(--table-header-winter);
  /* border-radius: var(--table-cell-border-radius); */
}
.marks {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--table-gap);
  overflow-x: scroll;
}
.marks::-webkit-scrollbar {
  display: none;
}
.mark {
  position: relative;
  cursor: pointer;
  width: var(--table-row-height);
  min-width: var(--table-row-height);
  height: var(--table-row-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 21px;
  background: #fff;
  cursor: pointer;
  transition: 0.2s ease;
  /* border-radius: var(--table-cell-border-radius); */
}
.mark:hover,
.mark:focus,
.mark:active {
  background: #ebebeb;
}
.date {
  width: var(--table-row-height);
  min-width: var(--table-row-height);
  display: flex;
  font-weight: normal;
  padding: 3px;
  border-bottom: 7.5px solid var(--table-header-winter);
  justify-content: center;
  align-items: center;
  font-size: 21px;
  background: #f2f2f2;
  /* border-radius: var(--table-cell-border-radius); */
}

.arrow {
  width: 20px;
  margin: 0 10px;
}
.arrow:first-of-type {
  transform: rotateZ(180deg);
}


.mark:hover .mark_comment {
  display: none;  /* block */
}
.mark_indicator {
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #5ab6b3;
  bottom: 5px;
}
.mark_indicator::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #5ab6b3;
  top: 0;
  transform: translateX(7px);
}
.mark_indicator::before {
  content: '';
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #5ab6b3;
  top: 0;
  transform: translateX(-7px);
}
.mark_comment {
  display: none;
  position: absolute;
  background: #5ab6b3;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 5px 10px;
  max-width: 120px;
  
  border-radius: 5px;
  z-index: 2;
  bottom: 0;
  transition: 0.3s ;
  transform: translateY(100%);
}
.mark_comment::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: #5ab6b3;
  z-index: 1;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) rotateZ(45deg)

}