:root {
  --header-height: 75px;
  --table-students-width: 300px;
  --table-header-winter: #5d9cec;
  --table-row-height: 45px;
  --table-cell-border-radius: 6px;
  --table-gap: 7.5px;

  --aside-width: 225px;
}

html,
body {
  font-family: "roboto";
  /* overflow: hidden; */
}
body * {
  outline: 1px solid red;
  box-sizing: border-box;
}

main {
  height: calc(100vh - var(--header-height));
  display: flex;
  max-width: 100%;
}

.content {
  padding: 37.5px 15px 30px 30px;
  background: #e5e5e5;
  height: 100%;
  width: calc(100% - var(--aside-width));
  box-shadow: inset 15px 15px 25px -16px rgba(0, 0, 0, 0.3);
}